@import "tailwindcss";

@theme inline {
  --color-primaria: #a31621;
  --color-fundo: #fcf7f8;
  --color-texto: #1a1a1a;
  --color-texto-claro: #fcf7f8;
  --color-primaria-dark: #8a1219;

  --font-sans: var(--font-sans);
  --font-titulo: var(--font-sans);
  --font-corpo: var(--font-sans);
}

body {
  background-color: #fcf7f8;
  color: #1a1a1a;
  font-family: var(--font-sans);
}
